* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background: url(../images/pattern-1.png) repeat;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.Fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  background: #4d6684;
  padding-bottom: 38px;
}

.box-header {
  width: 1110px;
  margin: auto;
}

.box-header ul {
  float: right;
}

.box-header ul > li {
  float: left;
  text-align: center;
  font: Medium 12px/18px / Noto Sans CJK KR;
  letter-spacing: -0.12px;
  color: #c0c8bb;
  line-height: 35px;
}

.box-header ul > li:nth-child(2) {
  width: 150px;
}

.box-header ul > li:nth-child(3) {
  width: 73px;
  height: 36px;
  background: #83aa30;
  color: #ffffff;
}

.logo {
  padding-top: 18px;
  float: left;
}

.box-search {
  width: 1110px;
  margin: auto;
}

.box-search ul {
  float: right;
  background: #8b9baf;
  width: 355px;
  height: 44px;
}

.box-search li {
  float: left;
  width: 50%;
  font: Medium 12px/18px Noto Sans CJK KR;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: left;
  padding: 13px 13px 13px 23px;
}

.box-search li:last-child {
  text-align: right;
}

.section1 {
  width: 100%;
  position: relative;
  top: -38px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav-01 {
  width: 1110px;
  margin: auto;
  z-index: 99;
}

.nav-01 > li {
  float: left;
  background: #3d3d3d;
  transition: 0.7s;
  position: relative;
  border-bottom: 4px solid #e74700;
  line-height: 46px;
  padding: 15px;
}

.nav-01 a {
  color: #f4f4f4;
  font: Bold 13px/19px Noto Sans CJK KR;
}

.nav-01 > li:hover:nth-child(n + 3) {
  background: #e74700;
}

.nav-01 > li:nth-child(1) {
  padding-left: 11px;
}

.nav-01 > li:nth-child(2) {
  background: #e74700;
}

.nav-01 > li .on {
  display: block;
}

.nav-01 > li:nth-child(10) {
  padding: 15px 17.6px;
}

.submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: -1px;
  transition: 1s;
}

.submenu li {
  border-bottom: 2px solid #707070;
  width: 250px;
  background: #3d3d3d;
  padding-left: 10px;
  transition: 0.5s;
}

.nav-01 li:hover .submenu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.submenu li:hover {
  background: #e74700;
}

.submenu li a {
  font: 500 12px/19px Noto Sans CJK KR;
}

.submenu.sub2 {
  width: 1109px;
}

.submenu.sub2 li {
  border-bottom: none;
}

.submenu.sub2 > li {
  padding: 30px;
  float: left;
  width: 20%;
  background: #3d3d3d;
  position: relative;
  left: -334px;
  z-index: -1;
  height: 200px;
  line-height: 1.7;
  font-weight: bold;
  font: 13px/19px;
  border-bottom: 1px solid #707070;
}

.submenu.sub2 > li:nth-child(n + 6) {
  height: 100px;
}

.submenu.sub2 > li:nth-child(8) {
  width: 60%;
  height: 100px;
}

.submenu.sub2 li:hover {
  background: #3d3d3d;
}

.submenu.sub2 > li > ul > li > a {
  font-weight: 200;
}

.br > li {
  width: 10px;
}

.sub3 {
  left: -162px;
}

.submenu.sub2.sub3 > li:nth-child(8) {
  width: 20%;
}

.submenu.sub2.sub3 > li:nth-child(9) {
  width: 40%;
}

.submenu.sub2.sub3 > li {
  height: 200px;
}

.submenu.sub4 {
  width: 500px;
}

.submenu.sub2.sub3.sub4 > li {
  width: 50%;
  left: -130px;
  height: 250px;
}

.submenu.sub2.sub3.sub4 > li:nth-child(2) > ul > li {
  width: 100px;
}

/*nav ë*/

.banner {
  margin: auto;
  width: 1110px;
}

.slide {
  position: relative;
  width: 1110px;
  height: 483px;
  top: 42px;
  opacity: 0;
  animation: animation 18s infinite;
}

.slide1 {
  background: url('../images/ice.jpg') no-repeat;
  z-index: 0;
}

.slide2 {
  background: url('../images/lentil.jpg') no-repeat;
  z-index: 0;
  position: absolute;
  top: 228px;
}

.slide3 {
  background: url('../images/suburb.jpg') no-repeat;
  z-index: 0;
  position: absolute;
  top: 228px;
}

.green {
  margin: auto;
  width: 355px;
  height: 483px;
  background: #83aa30;
  position: absolute;
  right: 0;
  padding: 25px;
}

.green > p:first-child {
  text-align: left;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.19px;
  color: #ffffff;
}

.green > p:nth-child(3) {
  text-align: left;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.19px;
  color: #ffffff;
  line-height: 44px;
}

.green > p:nth-child(4) {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.19px;
  color: #ffffff;
  padding: 19px 0 23px 0;
  line-height: 23px;
}

.line {
  width: 300px;
  height: 3px;
  background: #ffffff;
  margin: 4px 0 12px 0;
}

.slide .btn {
  width: 188px;
  height: 53px;
  background: rgba(51, 51, 51, 0.5);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.65px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.slide .wrap {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 0;
}

.slide1 {
  animation-delay: 0s;
}

.slide2 {
  animation-delay: 6s;
  visibility: hidden;
}

.slide3 {
  animation-delay: 12s;
  visibility: hidden;
}

@keyframes animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  10% {
    opacity: 1;
    visibility: visible;
  }

  33.333% {
    opacity: 1;
    visibility: visible;
  }

  40% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.sect {
  padding-top: 80px;
  width: 1110px;
  margin: auto;
  display: grid;
  grid-template-rows: 1139px;
  grid-template-columns: 349px 731px;
  grid-template-areas: 'aside main';
  grid-column-gap: 30px;
}

aside {
  grid-template: aside;
  background: url('../images/bird.png') no-repeat, #3d3d3d;
}

aside > div > * {
  padding: 0 25px 0 30px;
}

.aside1 {
  padding-bottom: 100px;
}

.aside1 > p:nth-child(1) {
  font-size: 29px;
  font-weight: 400;
  color: #83aa35;
  padding-top: 160px;
}

.aside1 > p:nth-child(2) {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  line-height: 23px;
}

.aside2 > p:nth-child(1) {
  font-size: 29px;
  font-weight: 400;
  color: #83aa35;
}

.aside2 > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  line-height: 23px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.aside2 > p:nth-child(3) {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  line-height: 23px;
}

.aside2.sol {
  border-top: 1px solid #5a5a5a;
}

.aside2.sol > p:first-child {
  display: none;
}

.aside2.sol > p:nth-child(2) {
  padding: 15px 25 20 30;
}

aside .btn {
  background: #83aa30;
  padding: 0;
  margin: 23px 0 23px 30px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  width: 125px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main {
  grid-template: main;
  border: 4px solid #f09f7c;
  display: grid;
  grid-template-rows: 80px 171px 800px;
  grid-template-areas:
    'headline1 headline2 headline3'
    'col-01 col-02 col-03'
    'text-col text-col text-col';
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headline1 {
  grid-template: headline1;
  font-size: 32px;
  font-weight: 400;
  line-height: 80px;
  color: #000000;
}

.headline2 {
  grid-template: headline2;
  font-size: 21px;
  font-weight: 400;
  color: #e74801;
}

.headline3 {
  grid-template: headline3;
  display: flex;
  justify-content: flex-end;
}

.col-01 {
  grid-template: col-01;
  margin: auto;
}

.col-01 .img-col {
  /*    background: url(../images/col1.png) no-repeat;*/
  width: 211px;
  height: 171px;
}

.col-02 {
  grid-template: col-02;
  margin: auto;
}

.col-02 .img-col {
  /*    background: url(../images/col2.png) no-repeat;*/
  width: 211px;
  height: 171px;
}

.col-03 {
  grid-template: col-03;
  margin: auto;
}

.col-03 .img-col {
  /*    background: url(../images/col3.png) no-repeat;*/
  width: 211px;
  height: 171px;
}

.img-col {
  background: black;
}

.img-col img {
  opacity: 1;
  transition: 1s;
  cursor: pointer;
}

.img-col:hover > img {
  opacity: 0.7;
}

.text-col {
  text-align: left;
  padding: 20px 25px 0 25px;
  align-self: baseline;
}

.text-col > p:nth-child(1) {
  font-size: 19px;
  font-weight: 400;
  line-height: 21px;
  color: #3d3d3d;
}

.text-col > p:nth-child(3) {
  font-size: 11px;
  font-weight: 400;
  line-height: 0px;
  color: #686868;
  align-self: center;
}

.text-col .brbreak {
  display: none;
}

.text-col > p:nth-child(5) {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  color: #3d3d3d;
}

.text-col > p:nth-child(n + 7) {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  color: #5b5b5b;
}

.arrow-left {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url('../images/arrow-left.svg') no-repeat;
}

.arrow-right {
  width: 20px;
  height: 20px;
  background: url('../images/arrow-right.svg') no-repeat;
}

.sect2 {
  padding: 30px 0 80px 0;
  width: 1110px;
  margin: auto;
  display: grid;
  grid-template-rows: 239px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'article article article article';
  grid-column-gap: 30px;
}

article {
  grid-template: article;
  background: #83aa30;
  padding: 30px;
}

article p:first-child {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}

article p:nth-child(2) {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 15px 0;
}

article .btn {
  width: 110px;
  height: 44px;
  background: #3d3d3d;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn.low {
  position: relative;
  top: -5px;
  width: 110px;
  height: 44px;
  background: #3d3d3d;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn.sec {
  transition: 1s;
}

.btn.sec:hover {
  background: #e74700;
}

footer {
  margin: auto;
  background: #4d6684;
  width: 100%;
  height: 495px;
}

.afoot {
  width: 1110px;
  margin: auto;
  display: grid;
  grid-template-areas: 'foot1 foot2 foot3';
  grid-template-rows: 440px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-column-gap: 80px;
}

.foot1 img {
  padding-top: 40px;
  padding-bottom: 30px;
}

.foot1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.foot2 img {
  padding-right: 10px;
}

.foot2 > p:first-child {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 60px 0 47px 0;
}

.foot2 > p:nth-child(n + 2) {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 15px;
  letter-spacing: -0.1px;
}

.foot3 > p:first-child {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 60px 0 47px 0;
  letter-spacing: -0.2px;
}

.bfoot {
  height: 55px;
  margin: auto;
  display: grid;
  grid-template-areas: 'foot4 foot5';
  grid-template-rows: 55px;
  grid-template-columns: 555px 555px;
  justify-content: center;
  align-items: center;
  background: #e74700;
  font-size: 12px;
  color: #ffffff;
}

.foot5 {
  text-align: center;
}
